<!doctype html>
<html>
  <head>
    <title>Flask-Sock Demo</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js" integrity="sha512-9mpsATI0KClwt+xVZfbcf2lJ8IFBAwsubJ6mI3rtULwyM3fBmQFzj0It4tGqxLOGQwGfJdk/G+fANnxfq9/cew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </head>

  
  <body>
    <h1>ecce</h1>
    <script>
        sock = io("ws://localhost:8080", {path: "/notification"})
        sock.on("new-post", function(message){
            console.log("TU SAM", message)
        })

        sock.on("connected-response", function(message){
          sock.emit('username', 'novifoll');
        })
        </script>
  </body>

</html>